@if (loading) {<app-progress-bar></app-progress-bar>}
@if (!loading) {
<div class="flex justify-center mt-5">

    <div
        class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form [formGroup]="form" (ngSubmit)="addProduct()" class="space-y-6">
            <h5 class="text-xl font-medium text-gray-900 dark:text-white">{{operacion}} producto</h5>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                <input formControlName="name" type="text"
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    required />
                @if (form.get('name')?.hasError('required') && form.get('name')?.touched) { <span
                    class="text-red-500">El campo nombre es requerido</span>}
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripcion</label>
                <input formControlName="description" type="text"
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    required />
                @if (form.get('description')?.hasError('required') && form.get('description')?.touched) { <span
                    class="text-red-500">El campo descripcion es requerido</span>}
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio</label>
                <input formControlName="price" type="number"
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    required />
                @if (form.get('price')?.hasError('required') && form.get('price')?.touched) { <span
                    class="text-red-500">El campo precio es requerido</span>}
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock</label>
                <input formControlName="stock" type="number"
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    required />
                @if (form.get('stock')?.hasError('required') && form.get('stock')?.touched) { <span
                    class="text-red-500">El campo stock es requerido</span>}
            </div>
            <div class="flex flex-row gap-4">
                <button type="submit" [disabled]="form.invalid"
                    class="w-full text-white disabled:bg-red-300 bg-red-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Aceptar</button>
                <button type="button" routerLink="/home"
                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Volver</button>
            </div>
        </form>
    </div>
</div>
}