@if (loading) {<app-progress-bar></app-progress-bar>}

@if (!loading) {
<div class="container mt-6 ml-2">
    <h4>Listado de productos</h4>
</div>

<div class="flex justify-end my-2">
    <button type="button" routerLink="/add"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Agregar
        Producto</button>
</div>

<div class="relative overflow-x-auto">
    @if (listProducts.length > 0) {
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Descripcion
                </th>
                <th scope="col" class="px-6 py-3">
                    Precio
                </th>
                <th scope="col" class="px-6 py-3">
                    Stock
                </th>
                <th scope="col" class="px-6 py-3">
                    <!-- Acciones -->
                </th>
            </tr>
        </thead>
        @for (product of listProducts; track $index) {
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ product.name }}
                </th>
                <td class="px-6 py-4">
                    {{ product.description }}
                </td>
                <td class="px-6 py-4">
                    {{ product.price | currency}}
                </td>
                <td class="px-6 py-4">
                    {{ product.stock }}
                </td>
                <td class="px-6 py-4 space-x-4">
                    <button routerLink="/edit/{{ product.id }}" type="button"
                        class="px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Edit
                    </button>
                    <button (click)="deleteProduct(product.id!)" type="button"
                        class="px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
        }
    </table>
    }
    @if (listProducts.length == 0) {<h5 class="ml-5">No hay productos para mostrar</h5>}
</div>
}